@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}


.progress {
	background-color: #d8d8d8;
	box-shadow: -4px 8px 20px -4px rgba(0,0,0,0.66);
	-webkit-box-shadow: -4px 8px 20px -4px rgba(0,0,0,0.66);
	-moz-box-shadow: -4px 8px 20px -4px rgba(0,0,0,0.66);
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
    background: linear-gradient(to left, #4fbae0, #813fd1) !important;
	box-shadow: -4px 8px 20px 0px rgba(0,0,0,0.66);
	-webkit-box-shadow: -4px 8px 20px 0px rgba(0,0,0,0.66);
	-moz-box-shadow: -4px 8px 20px 0px rgba(0,0,0,0.66);
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
